mirror_path: "/srv/replicate-github"

# You can generate a GitHub API token at https://github.com/settings/tokens
github_user: "a github username"
github_token: "a github api token"

# Number of git workers to run
workers: 1

serve:
  # If you use webhooks, specify the shared secret to authenticate requests
  secret: null
